<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>

<body>
    <h3>List of List Items</h3>
    <ul>
        <% for(let l of list) {%>
            <li>
                <%=l%>
            </li>
            <% } %>
    </ul>
    <hr>
    <a href="/add">Add New List Item</a>

</body>

</html>